<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>sonormal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='sonormal.css')}}">
</head>

<body>
    <form action="/process/" />
    <p>Extract from source URL: <input type="submit" value="Go"></input><input type="text" id="url" name="url" size="80"
            value=""></input></p>
    </form>
    <p><textarea id="j_source"></textarea></p>
    <p><textarea id="j_normalized"></textarea></p>
    <p><textarea id="j_framed"></textarea></p>
    <p><textarea id="j_canonicalized"></textarea></p>
    <p><textarea id="identifiers"></textarea></p>
    <p><textarea id="checksums"></textarea></p>
</body>

</html>